/* variables */
:root {
  /* colors */

  --texto-primario: #dddddd;
  --texto-secundario: #d1d1d1;
  --fondo-primario: #101f24;
  --fondo-primario-transparente: #1c2c2f80;
  --fondo-secundario: #0a0c13;
  --color-primario: #f0d7ad;
  --color-secundario: #e97e41;
  --color-secundario-apagado: #d7673b;
  --color-terciario: #6f6f6f;

  /* sizes */
  --hero-title-size: 4rem;
  --hero-title-size-lg: 3.4rem;
  --hero-description-size: 1.2rem;
  --title-size: 2.6rem;
  --sub-title-size: 2rem;
  --text-size: 1.1rem;
  --anchors-size: 1rem;
  --text-weight-bold: 700;
  --text-weight-regular: 400;
  --text-weight-thin: 300;
}
/* estilos generales */
* {
  /* normalizador */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* generales */
  color: var(--texto-primario);
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: var(--fondo-primario);
}
body {
  min-height: 100%;
  position: relative;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.nav {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
}
.nav__a {
  text-decoration: none;
}
.nav__title {
  font-size: var(--title-size);
}
/* enlaces */
.anchors {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.anchors__li {
  list-style: none;
}
.anchors__a {
  font-size: var(--anchors-size);
  font-weight: var(--text-weight-bold);
  color: var(--texto-primario);
  text-decoration: none;
  transition: color 0.3s ease;
}
.anchors__a:hover,
.anchors__a:focus {
  color: var(--color-secundario);
}
/* main */
.main {
  background-color: var(--fondo-primario);
}

/* hero */
.hero {
  width: 100%;
  height: 100vh;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: flex-start;
  background-image: url("./assets/images/profile/portada2.jpg");
  background-repeat: no-repeat;
  background-size: 60% 100%;
  background-position-x: right;
  background-position-y: center;
}
.hero__container_buttons {
  width: 420px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero__title {
  font-size: var(--hero-title-size);
  color: var(--color-secundario);
  animation: change-color 12s linear infinite alternate;
}
.hero__paragraph {
  max-width: 460px;
  font-size: var(--hero-description-size);
  color: var(--texto-secundario);
  transition: color 0.3s ease;
  text-wrap: pretty;
}

.hero__img {
  z-index: 10;
  width: 400px;
  height: 400px;
  padding: 3rem 0;
  aspect-ratio: 1;
  object-fit: contain;
}

/* article */
.article {
  width: 100%;
  height: 100vh;
  padding: 2rem 10rem;
}
.about_me {
  overflow: auto;
  background: linear-gradient(
    164deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(28, 44, 47, 1) 25%,
    rgba(86, 99, 100, 1) 40%,
    rgb(209, 94, 49) 70%,
    rgba(255, 255, 255, 0) 85%
  );
}
.projects {
  height: calc(100vh - 60px);
}
/* article content */
.article__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.article__title {
  font-size: var(--title-size);
  flex-shrink: 0;
  text-align: center;
}

/* section description */
.section_description {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 380px;
  padding: 40px;
  background-color: var(--fondo-primario-transparente);
  border-radius: 20px;
}

.section_description__porta_retrato {
  flex-shrink: 0;
  height: 300px;
  width: 300px;
  flex-basis: 300px;
  padding: 10px;
  background-color: var(--texto-primario);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.section_description__porta_retrato:hover {
  background-color: transparent;
}
.section_description__img {
  position: absolute;
  width: 280px;
  height: 240px;
  object-fit: cover;
  transition: all 2s ease, border-radius 1s 1s ease;
  top: 50px;
  left: 50px;
}
.section_description__img_variante {
  right: 50px;
  left: auto;
}
.section_description__porta_retrato:hover > .section_description__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
}
.section_description__porta_retrato:hover > .section_description__img_variante {
  left: auto;
  right: 0;
}
.section_description__info {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  height: 100%;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
.section_description__title {
  font-size: var(--sub-title-size);
  padding: 1rem;
}
.section_description__paragraph {
  font-size: var(--text-size);
  color: var(--texto-secundario);
  text-wrap: pretty;
}

/* footer */
.footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--fondo-primario);
  filter: drop-shadow(0px 0px 2px var(--texto-primario));
}
.footer__title {
  font-size: var(--text-size);
}

/* button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  font-weight: var(--text-weight-bold);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--texto-primario);
  color: var(--fondo-primario);
  border-radius: 4px;
}
.button:hover {
  color: var(--texto-primario);
  background-color: var(--color-secundario-apagado);
}
.button_dark {
  color: var(--fondo-primario);
  background-color: var(--color-secundario);
}
.button_dark:hover {
  color: var(--texto-primario);
  background-color: var(--color-secundario-apagado);
}

/* card */
.container_cards_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.card {
  max-width: 600px;
  height: 300px;
  background-color: var(--fondo-primario-transparente);
  border-radius: 0.375rem;
  box-shadow: 0 0 8px var(--color-secundario-transparente);
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}
.card__content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--fondo-primario-transparente);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card__content .button {
  align-self: flex-end;
}
.card__title {
  font-size: var(--sub-title-size);
}
.card__divisor {
  width: 90%;
  height: 6px;
  background-color: var(--color-secundario);
}

.card__paragraph {
  font-size: var(--text-size);
  color: var(--texto-secundario);
  overflow: auto;
  flex-basis: 150px;
  text-wrap: pretty;
}
.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in;
}
.card:hover {
  box-shadow: 0px 0px 12px var(--fondo-secundario);
}
.card:hover > .card__img {
  transform: scale(1.2);
}
.card:hover > .card__content {
  opacity: 1;
}

/* scroll */
.scroll::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-secundario);
}
.scroll_thin::-webkit-scrollbar {
  width: 6px;
}
.scroll_thin_grey::-webkit-scrollbar-thumb {
  background-color: var(--color-terciario);
}

@keyframes change-color {
  0% {
    color: var(--color-secundario-apagado);
  }
  50% {
    color: var(--color-secundario);
  }
  100% {
    color: var(--amarillo);
  }
}

/* responsive */
@media (max-width: 1700px) {
  .hero {
    background-size: 50% 100%;
  }
  .hero__title {
    font-size: var(--hero-title-size-lg);
  }

  .article {
    height: max-content;
  }
  .article__content {
    justify-content: flex-start;

    gap: 1rem;
  }
  .card__content .button {
    align-self: center;
  }
}
@media (max-width: 1200px) {
  .hero {
    background-size: cover;
    background-position-x: center;
    justify-content: flex-end;
  }
  .hero__title {
    animation: none;
    color: var(--texto-primario);
  }
  .container_cards_grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
  .section_description {
    height: max-content;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .section_description__info {
    height: 300px;
  }
  .section_description__img {
    left: 50%;
    transform: translateX(-50%);
  }
  .section_description__img_variante {
    top: auto;
    bottom: 90px;
  }
  .section_description__porta_retrato:hover > .section_description__img {
    transform: translateX(0);
  }
  .section_description__porta_retrato:hover
    > .section_description__img_variante {
    top: auto;
    left: 0;
    bottom: 0;
  }
}
@media (max-width: 992px) {
  .button {
    width: 140px;
  }
  .article {
    padding: 6rem;
  }
}
@media (max-width: 768px) {
  .nav {
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: var(--fondo-primario-transparente);
  }
  .anchors {
    width: 80%;
  }

  .article {
    padding: 2rem;
  }
  .card__content .button {
    align-self: center;
  }
  .footer .anchors {
    width: 50%;
  }
  .footer .anchors .anchors__a {
    color: var(--texto-primario);
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: var(--title-size);
  }
  .hero__container_buttons {
    justify-content: flex-start;
    width: 100%;
  }
  .container_cards_grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }
  .button {
    width: 120px;
  }
}
